// Default Theme Color Palette

// Red
$red-light: #f4b1ab;
$red-dark: #e5817e;

// Pink
$pink-light: #f0a8c0;
$pink-dark: #ec82a6;

// Purple
$purple-light: #dba0e5;
$purple-dark: #e084f0;

// Blue
$blue-light: #b4d5fb;
$blue-dark: #88b4f8;

// Teal
$teal-light: #9adcd6;
$teal-dark: #7ce0d6;

// Green
$green-light: #9add9e;
$green-dark: #7de381;

// Yellow
$yellow-light: #fbdb8a;
$yellow-dark: #f2d955;

// Orange
$orange-light: #ffc5b3;
$orange-dark: #ffa88c;

// Grey
$grey-050: #FAFAFA;
$grey-100: #F2F2F2;
$grey-150: #EEEEEE;
$grey-200: #DDDDDD;
$grey-250: #CCCCCC;
$grey-300: #BFBFBF;
$grey-350: #A0A0A0;
$grey-400: #9E9E9E;
$grey-450: #868686;
$grey-500: #727272;
$grey-550: #555555;
$grey-600: #464646;
$grey-650: #3C3C3C;
$grey-700: #2C2C2C;
$grey-750: #242424;
$grey-800: #212121;
$grey-850: #121212;
$grey-900: #0F0F0F;
$grey-950: #030303;

// White
$white: #FFFFFF;

// Black
$black: #000000;

// Button
$button-close: #fd5f51;
$button-max: #38c76a;
$button-min: #fdbe04;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
